{% extends 'blog/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
   <h3> Home </h3>
    <div class="form-group pt-2 mb-4 pr-2" style="overflow: hidden;">
        <a class="btn btn-primary " href="{% url 'Create' %}" style="float: right;">
            Create New post
        </a>
    </div>
   {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle account-img" src={{ post.author.profile.image.url }}>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=
                {% if user.username != post.author.username %}
                    {% url 'viewProfile' post.author.username %}
                {% else %}
                    {% url 'Profile' %}
                {% endif %}
              >{{ post.author }}</a>
              <small class="text-muted">{{ post.date | date:'F, d Y'}}</small>
            </div>
            <h2><a class="article-title" href={{ post.get_absolute_url }}>{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
        {% if page_obj.number != 1 %}
            <a class="btn btn-outline-primary" href="/{{username}}/posts/?page=1" role="button">First</a>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:'-3' and i <= page_obj.number|add:'3' %}
                {% if i == page_obj.number %}
                    <a class="btn btn-primary" href="/{{username}}/posts/?page={{i}}" role="button">{{i}}</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="/{{username}}/posts/?page={{i}}" role="button">{{i}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.number != page_obj.paginator.num_pages %}
            <a class="btn btn-outline-primary" href="/{{username}}/posts/?page={{page_obj.paginator.num_pages}}" role="button">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}