{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %} reset password {% endblock %}
{% block content %}
    <h3> Reset new passwword </h3>
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom pb-2">Reset password</legend>
            </fieldset>
            {{reset | crispy}}
            <div class="form-group pt-2">
                <button type="submit" class="btn btn-outline-info">
                    Reset
                </button>
            </div>
        </form>
    </div>
{% endblock %}